<nav class="share">
   <h4>Share this post</h4>
   <a href="https://twitter.com/share?text={{title}}&amp;url={{ site.url }}/{{ path }}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <span>Twitter</span>
   </a>

   <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ path }}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      Facebook
   </a>

   <a href="https://plus.google.com/share?url={{ site.url }}/{{ path }}"
      onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
      Google+
   </a>
</nav>
